<div class="">
  <span class="dashboad-small"> Dashboard </span>
  <span class="date-small">Global Touch &nbsp; {{formattedDate}}</span>
  
</div> 
<div class="card hide-menu-style">
  
    <article class="card-group-item">
		<header class="card-header  side-nav-dashboard-style side-nav-bg-style ">
            <label class="form-check side-bar-padding">
                    <span class="form-check-label side-nav-font-size ">
            Dashboard
            </span>
            </label>
        </header>
    
		<header class="card-header side-nav-bg-style ">
			<label class="form-check side-bar-padding">
                <span class="form-check-label side-nav-font-size">Manage 
                </span>
                </label>
		</header>
        <header class="card-header side-nav-bg-style ">
				<label class="form-check">
				  <span class="form-check-label side-nav-font-size side-bar-menu-style">
				    Members
				  </span>
				</label> 
        </header>
        <header class="card-header side-nav-bg-style ">
                    <label class="form-check">
                    <span class="form-check-label side-nav-font-size side-bar-menu-style">
                        Site Location
                    </span>
                    </label> 
        </header>
        <header class="card-header side-nav-bg-style ">
				<label class="form-check">
				  <span class="form-check-label side-nav-font-size side-bar-menu-style">
				    Licences
				  </span>
				</label> 
        </header>
        <header class="card-header side-nav-bg-style">
                <label class="form-check">
                    <span class="form-check-label side-nav-font-size side-bar-menu-style">
                      Permissions 
                    </span>
                  </label> 
        </header>
        <header class="card-header side-nav-bg-style">
                  <label class="form-check">
                    <span class="form-check-label side-nav-font-size side-bar-menu-style">
                      Settings
                    </span>
                  </label>  
        </header>

		<header class="card-header side-nav-bg-style ">
			<label class="form-check side-bar-padding">
                <span class="form-check-label side-nav-font-size support-color">
                    Support 
                </span>
            </label>
		</header>
		<header class="card-header side-nav-bg-style hide-menu-style">
			<label class="form-check">
			  <span class="form-check-label side-nav-font-size side-bar-menu-style">
			    FAQs
			  </span>
			</label>
        </header>
        <header class="card-header side-nav-bg-style hide-menu-style">
			<label class="form-check">
			  <span class="form-check-label side-nav-font-size side-bar-menu-style">
			    Contact Us
			  </span>
			</label>
        </header>
				
	</article> 
</div>

