<app-navbar></app-navbar>
    <div class="content-margin side-nav-margin date-small ">
        <div class="date-style">{{dateMonth}} | {{formattedDate}}</div>
        <hr>
    </div>

<div class="container content-margin" >
    <div class="row">
      <div class="col-xl-2 side-nav-margin">
        <app-side-nav></app-side-nav>
      </div>
      <div class="col-lg-10">
            <span class="header-menu-style pl-3 app-menu-small">Welcome Username</span>
            <span class="float-lg-right header-menu-style app-menu-small">Global Touch</span>
            <app-dashboard></app-dashboard>
      </div>
    </div>    
</div>
<app-footer></app-footer>

<router-outlet></router-outlet>
