<div class="container dashboard-bg-color">
    <div class="row col-lg-12" style="padding: 1em 0em 1em 1em;width: unset;">
        <div class="dahsboard-menu-style col-lg-2 col-xs-6 pl-0 small-style-1">
            <label class="lable-style" >Total</label>
            <div>
            <button type="button" class="btn btn-primary btn-padding total-btn-style ">500</button>
            </div>
        </div>
        <div class="dahsboard-menu-style col-lg-2 col-xs-6 pl-0 small-style-2">
            <label class="lable-style small-style2-lable"> <img src="assets/images/in.svg"> &nbsp; in</label>
            <div>
            <button type="button" class="btn btn-primary btn-padding dashboard-btn-style">479</button>
            </div>
        </div>
        <div class="dahsboard-menu-style col-lg-2 col-xs-6 pl-0 small-style-1">
            <label class="lable-style"><img src="assets/images/out.svg">&nbsp; out</label>
            <div>
            <button type="button" class="btn btn-primary btn-padding dashboard-btn-style">463</button>
            </div>
        </div>
        <div class="dahsboard-menu-style col-lg-2 col-xs-6 pl-0 small-style-2">
            <label class="lable-style small-style3-lable"><img src="assets/images/activity.svg">&nbsp; No activity</label>
            <div>
            <button type ="button" class="btn btn-primary btn-padding dashboard-btn-style">21</button>
            </div>
        </div>
        <div class="dahsboard-menu-style col-lg-2 col-xs-6 pl-0 small-search-style-1">
            <label class="lable-style">Site location(2)</label>
            <div class="pt-1">
            <input type ="search" class="btn btn-search btn-sm  pr-5 small-search-style" placeholder="Search Site Location"/>
            </div>
        </div>
    </div>
    <div class="attendance-style">
        
            <button class="btn btn-info attendance-btn-style">View Attendance </button>
        
    </div>
    <app-charts></app-charts>
</div>
  